/* Header styles */
header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .tagline {
    color: #61dafb; /* Contrasting color for tagline */
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3; /* Toggle color in dark mode */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Navigation styles */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #555;
  }

  /* Hero section styles */
#hero {
    background: url('images//pexels-olia-danilevich-4974920.jpg') center/cover no-repeat; /* Add your background image path */
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  #hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  #hero a {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #hero a:hover {
    background-color: #333;
    color: #fff;
  }

  /* Intro section styles */
#intro {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  .intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .intro-text {
    flex: 1;
    text-align: left;
    padding-right: 40px;
  }
  
  .intro-text h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .intro-text h2 span {
    color: #61dafb; /* Highlight color */
  }

  #a {
    color: #C6426C;
  }

  #b {
    color: #E6B963;
  }

  #c {
    color: #3CBF7F;
  }
  
  .intro-text p {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 30px;
  }

  .intro-image {
    flex: 1;
    text-align: center;
  }
  
  .intro-image img {
    border-radius: 50%;
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    object-fit: cover;
  }

  /* Projects section */
#projects {
    background-color: #f8f9fa;
    padding: 80px 0;
  }
  
  .section-heading {
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5em;
    color: #343a40; /* Dark text color */
  }

  .heading {
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.5em;
    color: #343a40; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Project cards */
  .project-card {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .project-card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .project-image img {
    width: 100%;
    height: auto;
  }
  
  .project-content {
    padding: 20px;
  }
  
  .project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #343a40;
  }
  
  .project-description {
    color: #6c757d; /* Text color */
    margin-bottom: 20px;
  }
  


  /* about section styles */
#about {
    background-color: #f8f8f8; /* Light background color */
    padding: 80px 0; /* Adjust padding as needed */
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-text {
    width: 60%;
  }
  
  .about-text p {
    font-size: 18px;
    color: #333; /* Dark text color */
    line-height: 1.6;
  }
  
  .about-image {
    width: 35%;
  }
  
  .about-image img {
    max-width: 100%;
    border-radius: 8px; /* Add a border radius for rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }

  /* skills section styles */
#skills {
    background-color: #fff; /* White background color */
    padding: 80px 0; /* Adjust padding as needed */
  }
  
  .skills-content {
    display: flex;
    justify-content: space-around;
  }
  
  .skills-category {
    width: 30%;
  }
  
  .skills-category h3 {
    font-size: 24px;
    color: #333; /* Dark text color */
  }
  
  .skills-category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-category li {
    font-size: 18px;
    color: #555; /* Slightly darker text color */
    margin-bottom: 10px;
  }
/* blog section styles */
#blog {
    background-color: #f5f5f5; /* Light gray background color */
    padding: 80px 0; /* Adjust padding as needed */
  }
  
  .blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .blog-post {
    width: 30%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff; /* White background color for each blog post */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition on hover */
  }
  
  .blog-post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
  }
  
  .blog-post h3 {
    font-size: 24px;
    color: #333; /* Dark text color */
  }
  
  .blog-date {
    font-size: 14px;
    color: #555; /* Slightly darker text color */
    margin-bottom: 10px;
  }
  
  .blog-excerpt {
    font-size: 16px;
    color: #666; /* Medium gray text color */
    margin-bottom: 20px;
  }
  

  /* contact section styles */
  #contact {
    background-color: #f9f9f9; /* Light gray background color for the contact section */
    color: #333; /* Dark text color */
    padding: 80px 0; /* Adjust padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  
  
  .contact-heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: #007bff; /* Blue text color for the heading */
  }
  
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .contact-form label {
    flex-basis: 48%;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    font-size: 16px;
  }
  
  .contact-form textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
  }
  
  .contact-form button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  .project-link,
  .source-code-link,
  .docs-link {
      display: inline-block;
      padding: 10px 15px; /* Adjust padding as needed */
      margin-right: 10px;
      text-decoration: none;
      font-weight: bold;
      border: 2px solid #007bff; /* Primary color */
      color: #007bff; /* Primary color */
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .project-link:hover,
  .source-code-link:hover,
  .docs-link:hover {
      background-color: #007bff; /* Primary color */
      color: #fff; /* White text */
  }
  
  /* Common button styles */
.read-more,
.project-link,
.source-code-link,
.docs-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Default button styles */
.read-more {
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text color */
}

.read-more:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

/* Project links */
.project-link,
.source-code-link,
.docs-link {
  border: 2px solid #007bff; /* Primary color */
  color: #007bff; /* Primary color */
  margin-right: 10px;
  font-weight: bold;
}

.project-link:hover,
.source-code-link:hover,
.docs-link:hover {
  background-color: #007bff; /* Primary color */
  color: #fff; /* White text */
}
  
  /* footer styles */
  footer {
    background-color: #333; /* Dark background color for the footer */
    color: #fff; /* White text color */
    padding: 20px 0;
    text-align: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff; /* White color for social icons */
    margin-right: 15px;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Blue color on hover */
  }
  

  