/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Main Content styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    color: #333;
}

section p {
    font-size: 1.1rem;
    color: #555;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

/* Link styles */
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Dark mode styles */
.darkmode--activated body {
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
}

.darkmode--activated header {
    background-color: #333; /* Dark header background color */
    color: #fff; /* Light header text color */
}

.darkmode--activated #project-content {
    background-color: #121212; /* Dark main content background color */
    color: #fff; /* Light main content text color */
  }
  
  .darkmode--activated footer {
    background-color: #333; /* Dark footer background color */
    color: #fff; /* Light footer text color */
  }